@inherits LayoutComponentBase

<PageTitle>Frontend</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
